<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".SpatialSmokeActivity" android:exported="true"
            android:permission="android.permission.DUMP" />
        <receiver android:name=".SpatialSmokeReceiver" android:exported="true"
            android:permission="android.permission.DUMP" />
    </application>
</manifest>
